In [3]:
import pyodbc
import pandas as pd

In [4]:
conn_str = r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=C:\Users\gia.luongdo\Desktop\ERP-Import.mdb;'
conn = pyodbc.connect(conn_str)

In [19]:
df = pd.read_sql("SELECT * FROM t_Art_MegaBase", conn)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481 entries, 0 to 480
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ArtNr                 481 non-null    object
 1   ArtMain               481 non-null    object
 2   ArtSort               472 non-null    object
 3   ArtikelNeu            481 non-null    object
 4   ArtGrp                481 non-null    object
 5   Marke                 167 non-null    object
 6   ProduktKat            273 non-null    object
 7   Veredelung            129 non-null    object
 8   Produktart            481 non-null    object
 9   Produktgruppe         167 non-null    object
 10  Materialart           179 non-null    object
 11  Zusammensetzung       198 non-null    object
 12  Gender                481 non-null    object
 13  Grammatur             177 non-null    object
 14  Inhaltsmenge          481 non-null    object
 15  Verpackungseinheit    481 non-null    int64
 16  Mindestbestellmenge   481 non-null    int64
 17  Zertifikate           117 non-null    object
 18  Ursprungsland         380 non-null    object
 19  Artikel_Alternativen  138 non-null    object
 20  Artikel_Partner       118 non-null    object
dtypes: int64(2), object(19)
memory usage: 79.0+ KB
None

C:\Users\gia.luongdo\AppData\Local\Temp\ipykernel_14936\3271472335.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM t_Art_MegaBase", conn)

In [20]:
# Remove duplicate rows
df_cleaned = df.drop_duplicates()

# Strip whitespace from string columns
str_cols = df_cleaned.select_dtypes(include='object').columns
df_cleaned[str_cols] = df_cleaned[str_cols].apply(lambda x: x.str.strip())

# Replace empty strings with NaN
df_cleaned[str_cols] = df_cleaned[str_cols].replace('', pd.NA)

# Optionally, drop rows with all NaN values
df_cleaned = df_cleaned.dropna(how='all')

# Show summary of cleaned data
print(df_cleaned.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481 entries, 0 to 480
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ArtNr                 481 non-null    object
 1   ArtMain               481 non-null    object
 2   ArtSort               472 non-null    object
 3   ArtikelNeu            481 non-null    object
 4   ArtGrp                481 non-null    object
 5   Marke                 167 non-null    object
 6   ProduktKat            273 non-null    object
 7   Veredelung            129 non-null    object
 8   Produktart            481 non-null    object
 9   Produktgruppe         167 non-null    object
 10  Materialart           179 non-null    object
 11  Zusammensetzung       198 non-null    object
 12  Gender                481 non-null    object
 13  Grammatur             177 non-null    object
 14  Inhaltsmenge          481 non-null    object
 15  Verpackungseinheit    481 non-null    int64
 16  Mindestbestellmenge   481 non-null    int64
 17  Zertifikate           117 non-null    object
 18  Ursprungsland         380 non-null    object
 19  Artikel_Alternativen  138 non-null    object
 20  Artikel_Partner       118 non-null    object
dtypes: int64(2), object(19)
memory usage: 79.0+ KB
None